.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  --bs-navbar-padding-y: 0rem;
}
.container{
  max-width: 60vw;
  margin-top: 3vh;
}
.container textarea{
  margin: 10px 0px;
}
.container label{
  margin-top: 10px;
  font-weight: 500;
}
.container h1{
  font-size: 2.4vw;
  width: fit-content;
  margin: auto;
}
.container button{
  margin: 5px 5px;
}
.form-control{
  border: 2px solid rgb(121, 121, 121);
}
.container1{
  margin-top: 4vh;
}
.container1 h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* color: rgb(93 88 82); */
  text-decoration: underline;
}
.container1 p{
  font-size: 1.5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}
.accordion{
  width: 70vw;
  margin: 8vh auto;
}
/* .alert-container{
  position: relative;
  z-index: 10;
} */